<div class="row">
	<div class="col-md-12">
		<!-- Basic layout-->
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title">Record a new Incidence</h5>
				<div class="header-elements">
					<div class="list-icons">
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<form action="#">
							<div class="row">
								<div class="col-md-4 form-group">
									<label>Country:</label>
									<ng-select2 [data]="select2Data.countryList" [options]="select2Options"></ng-select2>
								</div>

								<div class="col-md-4 form-group">
									<label>Region:</label>
									<ng-select2 [data]="select2Data.regionList" [options]="select2Options"></ng-select2>
								</div>

								<div class="col-md-4 form-group">
									<label>State:</label>
									<ng-select2 [data]="select2Data.stateList" [options]="select2Options"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 form-group">
									<label>LGA:</label>
									<ng-select2 [data]="select2Data.lgaList" [options]="select2Options"></ng-select2>
								</div>

								<div class="col-md-6 form-group">
									<label>Locality:</label>
									<ng-select2 [data]="select2Data.localityList" [options]="select2Options"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 form-group">
									<label>Incident Type:</label>
									<ng-select2 [data]="select2Data.incidentTypeList" [options]="select2Options"></ng-select2>
								</div>

								<div class="col-md-6 form-group">
									<label>Incident:</label>
									<ng-select2 [data]="select2Data.incidentList" [options]="select2Options"></ng-select2>
								</div>
							</div>

							<div class="form-group">
								<label>Incidence Title:</label>
								<input type="text" class="form-control" placeholder="Enter a title for the incidence here">
							</div>

							<div class="row">
								<div class="col-md-8 form-group">
									<label>Incidence Date:</label>
									<input type="date" class="form-control">
								</div>

								<div class="col-md-4 form-group">
									<label>Time:</label>
									<input type="time" class="form-control">
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 form-group">
									<label>Faction:</label>
									<ng-select2 [data]="select2Data.factionList" [options]="select2Options_multiple"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 form-group">
									<label>Friendly Forces:</label>
									<ng-select2 [data]="select2Data.friendlyForcesList" [options]="select2Options_multiple"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 form-group">
									<label>Terrain:</label>
									<ng-select2 [data]="select2Data.terrainList" [options]="select2Options_multiple"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 form-group">
									<label>Landmark / Associated Feature:</label>
									<ng-select2 [data]="select2Data.associatedFeatureList" [options]="select2Options_multiple"></ng-select2>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 form-group">
									<label>KIA:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>

								<div class="col-md-4 form-group">
									<label>MIA:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>

								<div class="col-md-4 form-group">
									<label>WIA:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3 form-group">
									<label>Civillians Killed:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>

								<div class="col-md-3 form-group">
									<label>Civillians Abducted:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>

								<div class="col-md-3 form-group">
									<label>Criminals Killed:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>

								<div class="col-md-3 form-group">
									<label>Suspects Arrested:</label>
									<input type="number" class="form-control" placeholder="0"/>
								</div>
							</div>

							<div class="form-group">
								<label>Comments / Analysis:</label>
								<textarea rows="5" cols="5" class="form-control" placeholder="Enter your comment / analysis here"></textarea>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<div style="height: 70vh; margin-bottom: 10px;"
						     leaflet 
						     [leafletOptions]="leafletOptions">
						</div>

						<div class="row">
							<div class="col-md-6 form-group">
								<label>POI Latitude:</label>
								<input type="text" class="form-control"/>
							</div>

							<div class="col-md-6 form-group">
								<label>POI Longitude:</label>
								<input type="text" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Save Incidence <i class="icon-paperplane ml-2"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /basic layout -->
	</div>
</div>