<div class="row">
	<div class="col-md-12" *ngIf="timeline.length > 0">
		<horizontal-timeline [timelineElements]="timeline" [showContent]="false" [dateFormat]="'dd MMM, yyyy'"></horizontal-timeline>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<div style="height: 70vh; margin-bottom: 10px;"
		     leaflet 
		     [leafletOptions]="leafletOptions"
		     (leafletMapReady)="onMapReady($event)">
		</div>
	</div>
	<div class="col-md-1" style="overflow-x: hidden; background-color: rgba(255, 255, 255, 0.4); padding-top: 5px;">
		<h6 class="font-weight-semibold text-center">LEGEND</h6>
		<table>
			<tr *ngFor="let item of typeColors | keyvalue" style="border: 1px solid #f00">
				<td style="background-color: {{item.value}}; padding: 3px; font-size:1em; font-weight: 500;" class="text-white text-bold">{{item.key}}</td>
			</tr>
		</table>
	</div>
</div>