<div class="col-md-12">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Country</th>
                <th>Region</th>
                <th>State</th>
                <th>LGA</th>
                <th>Locality</th>
                <th>Incident Category</th>
                <th>Incident Type</th>
                <th>Date</th>
                <th>Comment / Analysis</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of currentData">
            	<td width="5%">{{record.id}}</td>
            	<td width="35%">{{record.text}}</td>
            	<td width="35%">{{record.parent}}</td>
            	<td width="25%">
            		<a href="#" class="btn btn-light btn-icon mr-2">
            			<i class="icon-pencil"></i>
            		</a>
            		<a href="#" class="btn btn-light btn-icon">
            			<i class="icon-trash"></i>
            		</a>
            	</td>
            </tr>
        </tbody>
    </table>
</div>