<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title"></h5>
				<div class="header-elements">
					<div class="list-icons">
                		<a class="list-icons-item" data-action="collapse"></a>
                		<a class="list-icons-item" data-action="reload"></a>
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="chart-container">
					<div echarts [options]="incidencesByRegionOption"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-8">
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title"></h5>
				<div class="header-elements">
					<div class="list-icons">
                		<a class="list-icons-item" data-action="collapse"></a>
                		<a class="list-icons-item" data-action="reload"></a>
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="chart-container">
					<div echarts [options]="incidencesByStateOption"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title"></h5>
				<div class="header-elements">
					<div class="list-icons">
                		<a class="list-icons-item" data-action="collapse"></a>
                		<a class="list-icons-item" data-action="reload"></a>
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="chart-container">
					<div echarts [options]="incidencesByStateOption"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title"></h5>
				<div class="header-elements">
					<div class="list-icons">
                		<a class="list-icons-item" data-action="collapse"></a>
                		<a class="list-icons-item" data-action="reload"></a>
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="chart-container">
							<div echarts [options]="incidencesByStateOption"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="chart-container">
							<div echarts [options]="incidencesByStateOption"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="chart-container">
							<div echarts [options]="incidencesByStateOption"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>