<div class="row">
	<div class="col-md-5">
		<app-incidences-by-region></app-incidences-by-region>
	</div>
	<div class="col-md-7">
		<div class="card">
			<div class="card-header header-elements-inline">
				<h5 class="card-title">Map</h5>
				<div class="header-elements">
					<div class="list-icons">
                		<a class="list-icons-item" data-action="collapse"></a>
                		<a class="list-icons-item" data-action="reload"></a>
                	</div>
            	</div>
			</div>

			<div class="card-body">
				<div class="chart-container">
					<div echarts [options]="incidencesMapOption"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<app-incidences-by-state></app-incidences-by-state>
	</div>
</div>

<div class="row">
	<div class="col-md-12" *ngFor="let region of regions">
		<app-incidences-by-region-breakdown region="{{region}}" categoriesData="{{stringify(categoriesData[region])}}" trendsData="{{stringify(trendsData[region])}}"></app-incidences-by-region-breakdown>
	</div>
</div>